body{
    background: rgb(52, 156, 224);
}
.juo{
    background: rgb(130, 156, 14);
    height: 300px;
    width: 320px;
    margin: 310px;
    border-radius: 12px 12px 12px 12px;
    position: relative;
    bottom: 130px;
}
h1{
    text-align: center;
}