body {
  background: darkorange;
}
.lol {
  background: teal;
  width: 330px;
  height: 230px;
  margin: 330px;
  margin-top: 190px;
  border-radius: 12px 12px 12px 12px;
}
.asd {
  width: 73px;
  height: 11px;
  float: right;
  position: relative;
  bottom: -5px;
  border-radius: 5px 5px 5px 5px;
}
.asd02 {
  width: 73px;
  height: 11px;
  float: right;
  position: relative;
  bottom: -4px;
  border-radius: 5px 5px 5px 5px;
  
}

.io {
  margin-top: 25px;
}
.asd03{
    width: 73px;
    height: 11px;
    float: right;
    position: relative;
    bottom: -3px;
    border-radius: 5px 5px 5px 5px; 
}
